<!-- views/partials/_header.ejs -->

<% if (username === undefined) { %>
  <form method='POST' action='/login' name='login'>
    <label for='username'>Username: </label>
    <input id='username' type='text' name='username'>
    <input type='submit' value='Login'>
  </form>
<% } else { %>
  <%= username %>
  <form method='POST' action='/logout' name='logout'>
    <input type='submit' value='Logout'>
  </form>
<% } %>
