<!-- views/partials/_header.ejs -->

<form method='POST' action='/login' name="username">
  <label for='username'>Username: </label>
  <input id='username' type='text' name='user'>
  <input type='submit' value='Login'>
</form>