<!-- views/partials/_header.ejs -->

  <% if (user) { %>
    <form  method='post' action='/logout'>
      <b><%= user.email %>| </b>
      <a href='/urls'>My Links</a> |
      <input type='submit' value='logout'>
    </form>
  <% } else { %>
    <a href = '/'>Home | </a>
    <a href = '/register'>Register | </a>
    <a href = '/login'>Login</a>
  <% } %>