<!-- views/partials/_header.ejs -->

  <% if (user) { %>
    <form  method='post' action='/logout'>
      <a href='/urls'>Home</a>
      <b><%= user.email %></b>
      <input type='submit' value='logout'>
    </form>
  <% } else { %>
    <a href = '/'>Home | </a>
    <a href = '/register'>Register | </a>
    <a href = '/login'>Login | </a>
  <% } %>