<!doctype html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style='font-size:20px; padding:50px;'>
  <header>
  </header>
  Unauthorized! You are not logged in. Please login <a href="/login"> here</a>.
</body>
</html>