<!doctype html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style='font-size:20px; padding:30px;'>
  <header>
    <% include partials/_header %>
  </header>
  <h2>Login</h2>
  <form method='post' action='/login'>
  <table>
    <tr>
      <th align='right'><label for='email'>email </label></th>
      <th><input id='email' type='email' name='email' style='width: 200px'></th>
    </tr>
    <tr>
      <th align='right'><label for='passowrd'>password </label></th>
      <th><input id='password' type='password' name='password' style='width: 200px'></th>
    </tr>
    <tr>
      <th></th>
      <th align='right'><input type='submit' value='Login'></th>
    </tr>
  </form>
</body>
</html>