<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <body>
   <header>
    <% include partials/_header %>
  </header>
  <h1> User Registration </h1>
  <form method="POST" action="/register"
  </body>
</html>