<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:30px;">
  <header>
    <% include partials/_header %>
  </header>
  <h2>Generate a new Tiny URL</h2>
  <p>
    <form  method="POST" action="/urls/new" style="margin:150;">
      <table>
        <tr>
          <td> <label for="longURL">Enter a URL:</label></td>
          <td><input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px"></td>
          <td><input type="submit" value="Submit"></td>
        </tr>
    </form>
  </p>
</body>
</html>