<!doctype html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h1><%= `Hello! ${user.email}` %></h1>
  <p><a href="/urls/new">Add a new URL</a></p>
  <ul>
    <% for(const url in listOfURLs) { %>
    <li>
      <%= `${url}: ${listOfURLs[url]}` %>
      <a href=<%= `/urls/${url}` %>>Edit</a>
      <form method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="Delete">
      </form>
    </li>
    <% } %>
  </ul>
</body>
</html>
